@charset "utf-8";
/* CSS Document */

.breadcrumbs{
font-family:Arial, Helvetica, sans-serif;	
}

table td{
 padding:8px 0px;
 border-top:dashed 1px #0776BA;
 border-bottom:dashed 1px #0776BA;
}

td.first_col{
	width:80%;
}

tr:hover{
 cursor:pointer;
 background:#0B91C4 !important;
}

tr:nth-child(odd){
background:#B6DAF0;
}

tr:nth-child(even){
background:#7AC1FA;
}

table a{
padding-left:10px;
font-family: 'Puritan20Normal';
text-decoration:none;
color:#000;
font-weight:bold;
font-size:16px;
}
